.agreement-info {
    text-align: right;
    font-size: calc(1vmin + 2px);
}

.img-button {
    width: calc(2vmin + 1px);
    float: right;
    padding: 1%
}

.img-button:hover {
    background-color: rgb(156, 156, 156);
    border-radius: 20px;
    padding: 1%;
}

h4 {
    padding: 0 0 0 45%;
}

.title-link {
    text-decoration: none;
    color:black;
}

.title-link:hover {
    color: blue;
}