.agreement-info {
    text-align: right;
    font-size: 10px;
}

.edit-button {
    width: calc(6px + 1%);
    float: right;
    padding: 1.5% 1% 0% 1%
}

.delete-button {
    width: calc(6px + 1%);
    float: right;
    padding: 1.5% 1% 0% 1%
}

h4 {
    padding: 0 0 0 45%;
}